apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-webapp-deployment
  labels:
    app: java-webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-webapp
  template:
    metadata:
      labels:
        app: java-webapp
    spec:
      containers:
        - name: java-webapp
          image: sthuthi22/java-webapp:latest
          ports:
            - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: java-webapp-service
spec:
  type: NodePort
  selector:
    app: java-webapp
  ports:
    - protocol: TCP
      port: 8082       # service port
      targetPort: 8082 # container port
      nodePort: 30082  # external access port
